.f4 {
	text-align: justify;
	font-family: sans-serif;
}
.athelas {
	font-family: sans-serif;
}
.bg-black-60 {
	background-color: transparent;
}
.w100 {
	max-height: 10vh;
}
.white-90 {
	text-shadow: 1px 1px #000000;
}
