<style>
	.assos {
		display: flex;
	}

	.nom {
		text-align: left;
	}

	.asso {
		flex: 1;
		/* Space between columns */
		margin: 0 8px;

		/* Layout each column */
		display: flex;
		flex-direction: column;
	}
	.foto {
		border-radius: 10%;
	}
  	
</style>


<div class="assos">
	<div class="asso">
		<div class="foto">
		<a href="https://aess.upc.es/">
			<img src="{{ .Site.BaseURL }}/images/logos/aess-logo.jpg" class="foto">
		</div>
	</div>
	<div class="nom">
		<br>
		<b>AESS</b>
		<br>
		<i>Aerospace and Electronics Systems Society</i></a>
	</div>
	
</div>
<div class="assos">
	<div class="asso">
		<div class="foto">
		<a href="https://aucoop.upc.edu/ca">
			<img src="{{ .Site.BaseURL }}/images/logos/aucoop-logo.jpg" class="foto">
		</div>
	</div>
	<div class="nom">
		<br>
		<b>AUCCOP</b>
		<br>
		<i>Associació d’Universitaris per a la Cooperació</i></a>
	</div>
	
</div>
<div class="assos">
	<div class="asso">
		<div class="foto">
		<a href="https://www.facebook.com/DistorsioTelecos">
			<img src="{{ .Site.BaseURL }}/images/logos/distorssio-logo.png" class="foto">
		</div>
	</div>
	<div class="nom">
		<br>
		<b>Distorsió</b>
		<br>
		<i>La revista dels estudiants de TelecomBCN</i></a>
	</div>
	
</div>
<div class="assos">
	<div class="asso">
		<div class="foto">
		<a href="https://forumtelecos.upc.edu/">
			<img src="{{ .Site.BaseURL }}/images/logos/forum-logo.png" class="foto">
		</div>
	</div>
	<div class="nom">
		<br>
		<b>Fòrum Telecos</b>
		<br>
		<i>Associació per apropar el món laboral</i>
		<br>
		<i>i de l'empresa als estudiants de l'ETSETB.</i></a>
	</div>
	
</div>
<div class="assos">
	<div class="asso">
		<div class="foto">
		<a href="www.youtube.com/user/IEEEBCNStudentBranch">
			<img src="{{ .Site.BaseURL }}/images/logos/iee-logo.jpg" class="foto">
		</div>
	</div>
	<div class="nom">
		<br>
		<b>IEEE</b>
		<br>
		<i>Branca d'estudiants de l'IEEE de l'ETSETB</i></a>
	</div>
	
</div>
<div class="assos">
	<div class="asso">
		<div class="foto">
		<a href="https://www.telecogresca.com/">
			<img src="{{ .Site.BaseURL }}/images/logos/telecogresca-logo.png" class="foto">
		</div>
	</div>
	<div class="nom">
		<b>A.C. Telecogresca</b>
		<br>
		<i>Associació que organitza un dels festivals</i>
		<br> 
		<i>musicals universitaris més importants </i>
		<br>
		<i>de l'estat: la Telecogresca. </i></a>
	</div>
</div>
<div class="assos">
	<div class="asso">
		<div class="foto">
		<a href="http://dat.upc.edu/">
			<img src="{{ .Site.BaseURL }}/images/logos/logo-fons-blanc-petit.png" class="foto">
		</div>
	</div>
	<div class="nom">
		<br>
		<b>DAT</b>
		<br>
		<i> Delegació d’Alumnes de Telecos </i></a>
	</div>
	
</div>





