<style>
	.contenidor-membres {
		display: flex;
	}

	.nom {
		text-align: center;
	}

	.membre {
		flex: 1;
		/* Space between columns */
		margin: 0 8px;

		/* Layout each column */
		display: flex;
		flex-direction: column;
	}

	.foto-retrat {
		border-radius: 5%;
	}

	.retrat {
		/* Take available height */
		flex: 1;
	}
  	
</style>

	
	
	
	
</style>
<div class="contenidor-membres contenidor-coord">
	<div class="membre">
		<div class="retrat">
		<a href="{{ .Site.BaseURL }}/tresoreria">
			<img src="{{ .Site.BaseURL }}/images/membres/membre-daniela.jpg" class="foto-retrat" link="/membres/el-mite-den-visenç">
		</div>
		<div class="nom">
			<b>Daniela Roncancio</b>
			<br>
			<i>Tresorera</i></a>
		</div>
	</div>
	<div class="membre">
		<div class="retrat">
		<a href="{{ .Site.BaseURL }}/dele-centre">
			<img src="{{ .Site.BaseURL }}/images/membres/membre-vicenc.jpg" class="foto-retrat" link="">
		</div>
		<div class="nom">
			<b>Vicenç Palmero</b>
			<br>
			<i>Delegat de Centre</i></a>
		</div>
	</div>
	<div class="membre">
		<div class="retrat">
		<a href="{{ .Site.BaseURL }}/secretaria">
			<img src="{{ .Site.BaseURL }}/images/membres/membre-dani.jpg" class="foto-retrat" link="">
		</div>
		<div class="nom">
			<b>Dani Díaz</b>
			<br>
			<i>Secretari</i></a>
		</div>
	</div>
</div>
<!--
<style>
.membre{
	width: 30%;
	display: inline-block;
}
.retrat {
	object-fit: scale-down;
	box-sizing: inherit;
}
.foto-retrat {
	border-radius:5%;
}
.nom {
	text-align: center;
}
</style>
<div class="membre" >
	<div class="retrat">
		<img src="{{ .Get "src" }}" class="foto-retrat" {{ with .Get "link" }} alt="{{ . }}" {{ end }}>
	</div>
	<div class="nom">
		<b>{{ .Get "nom" }}</b>
		{{ with .Get "rol" }}
		<br>
		<i>{{ . }}</i>
		{{ end }}
	</div>
</div>
-->
