<div class="contenidor-membres contenidor-hall">
	<div class="membre" >
		<div class="retrat">
			<img src="{{ .Site.BaseURL }}/images/membres/membre-mampel.jpg" class="foto-retrat" link="" >
		</div>
		<div class="nom">
			<b>Alexandre Kanj</b>
		</div>
	</div>
	<div class="membre" >
		<div class="retrat">
			<img src="{{ .Site.BaseURL }}/images/membres/membre-laurap.jpg" class="foto-retrat" link="" >
		</div>
		<div class="nom">
			<b>Laura Pérez</b>
		</div>
	</div>
	<div class="membre" >
		<div class="retrat">
			<img src="{{ .Site.BaseURL }}/images/membres/membre-poblador.jpg" class="foto-retrat" link="" >
		</div>
		<div class="nom">
			<b>Albert Poblador</b>
		</div>
	</div>
	<div class="membre" >
		<div class="retrat">
		<img src="{{ .Site.BaseURL }}/images/membres/membre-soufian.jpg" class="foto-retrat" link="" >
		</div>
		<div class="nom">
			<b>Soufian Boucharrafat</b>
		</div>
	</div>
</div>
