<div class="link">
La delegació es regeix pel seu reglament, aquest s’aprova a la Junta de l’Escola i el pots trobar aquí:
<a href="{{ .Site.BaseURL }}/documents/reglament.pdf">Reglament DAT</a>
</div>

<style media="screen">
  .cover {
  	max-height: 5%;
  	background-attachment: fixed;
   	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
  }
  .center {
    	text-align: left;
    	max-width: 70%;
  }
  </style>

