<style>
th, td {
  border-bottom: 1px solid #ddd;
}	
<!--
tr:hover {
  background-color: ;
}
-->
tr:nth-child(even) {
  background-color: lightgray;
}
th {
  background-color: gray;
  color: white;
}
.taula {
  width: 100%;  
}

</style>
<div class="taula-delegats">
  <table class="taula" cellspacing="0" cellpadding="5">
    <thead>
      <tr>
        <th id="0C0" class="column-headers-background">
          Nom
        </th>
        <th id="0C1" class="column-headers-background">
          Cognoms
        </th>
        <th id="0C2" class="column-headers-background">
          GRETST
        </th>
        <th id="0C3" class="column-headers-background">
          Curs
        </th>
        <th id="0C4" class="column-headers-background">
          Grup
        </th>
      </tr>
    </thead>
    <!-- Canviar aquesta part-->
    <tbody>
      <tr style="height: 20px">
        <td class="s0">Silvia</td>
        <td class="s0">Arellano García</td>
        <td class="s0">GRETST</td>
        <td class="s0">3B</td>
        <td class="s3">20</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Pau</td>
        <td class="s0">Argiles Coloma</td>
        <td class="s0">GRETST</td>
        <td class="s0">2A, 2B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Arnau</td>
        <td class="s0">Bayer Mena</td>
        <td class="s0">GRELEC</td>
        <td class="s0">3B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Rosa</td>
        <td class="s0 softmerge">
          <div class="softmerge-inner" style="width: 97px; left: -1px">
            Ceano-Vivas Camacho
          </div>
        </td>
        <td class="s0">GRETST</td>
        <td class="s0">2B</td>
        <td class="s3">20</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0 softmerge">
          <div class="softmerge-inner" style="width: 97px; left: -1px">
            Fernando Andrés
          </div>
        </td>
        <td class="s0">Corte Cruz</td>
        <td class="s5">GRETST</td>
        <td class="s0">2A</td>
        <td class="s3">30</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Daniel</td>
        <td class="s1">Díaz Àlvarez</td>
        <td class="s6">GRETST</td>
        <td class="s0">2A, 2B, 3A</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Francesca</td>
        <td class="s0">Diez Leboffe</td>
        <td class="s0">GRETST</td>
        <td class="s0">2B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Marc</td>
        <td class="s0 softmerge">
          <div class="softmerge-inner" style="width: 97px; left: -1px">
            Eguiburu Ferrer
          </div>
        </td>
        <td class="s0">GRELEC</td>
        <td class="s0">3B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Miriam</td>
        <td class="s0">Elbaz Trojman</td>
        <td class="s0">GRETST</td>
        <td class="s0">4A</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Constanza</td>
        <td class="s0 softmerge">
          <div class="softmerge-inner" style="width: 97px; left: -1px">
            Elfarkh Silvestre
          </div>
        </td>
        <td class="s0">GRETST</td>
        <td class="s0">2B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Arnau</td>
        <td class="s1">Ferrer Orri</td>
        <td class="s6">GRELEC</td>
        <td class="s0">2B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Carles</td>
        <td class="s0">Font Alavedra</td>
        <td class="s0">GRELEC</td>
        <td class="s0">2B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Raquel</td>
        <td class="s0">Galisteo Aragones</td>
        <td class="s0">GRETST</td>
        <td class="s0">2B</td>
        <td class="s3">30</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Laura</td>
        <td class="s0 softmerge">
          <div class="softmerge-inner" style="width: 97px; left: -1px">
            Gómez Fernández
          </div>
        </td>
        <td class="s0">GEF</td>
        <td class="s0">3B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Carlota</td>
        <td class="s0">Julbe Juanola</td>
        <td class="s0">GRETST</td>
        <td class="s0">2B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Nil</td>
        <td class="s0 softmerge">
          <div class="softmerge-inner" style="width: 97px; left: -1px">
            Llagostera Tintoré
          </div>
        </td>
        <td class="s0">GRETST</td>
        <td class="s0">3B</td>
        <td class="s3">20</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Anna</td>
        <td class="s0">Llamas Royo</td>
        <td class="s0">GRETST</td>
        <td class="s0">1B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Èric</td>
        <td class="s0">Lozano Monfort</td>
        <td class="s0">GRETST</td>
        <td class="s0">1B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Pau</td>
        <td class="s0">Macias Moran</td>
        <td class="s0">GRELEC</td>
        <td class="s0">1B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Beatriz</td>
        <td class="s0 softmerge">
          <div class="softmerge-inner" style="width: 97px; left: -1px">
            Malpartida López
          </div>
        </td>
        <td class="s0">GRETST</td>
        <td class="s0">2A</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Alicia</td>
        <td class="s0">Manuel Pasoot</td>
        <td class="s0">GRELEC</td>
        <td class="s0">3B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Ivana</td>
        <td class="s0">Marcet</td>
        <td class="s0">GRETST</td>
        <td class="s0">1A, 1B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Aniol</td>
        <td class="s0">Martí</td>
        <td class="s0">Màster</td>
        <td class="s0">Màster</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Josep</td>
        <td class="s0 softmerge">
          <div class="softmerge-inner" style="width: 97px; left: -1px">
            Mencion Seguranyes
          </div>
        </td>
        <td class="s0">GRELEC</td>
        <td class="s0">1B, 2B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Bei</td>
        <td class="s0 softmerge">
          <div class="softmerge-inner" style="width: 97px; left: -1px">
            Molinas Martínez
          </div>
        </td>
        <td class="s0">GRETST</td>
        <td class="s0">1B, 2A</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Pedro</td>
        <td class="s0">Muñoz</td>
        <td class="s0">GRETST</td>
        <td class="s0">1B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Noelia</td>
        <td class="s0 softmerge">
          <div class="softmerge-inner" style="width: 97px; left: -1px">
            Navarro Montoya
          </div>
        </td>
        <td class="s0">GRETST</td>
        <td class="s0">3A, 3B, 4A</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Pau</td>
        <td class="s0">Ortín Garcia</td>
        <td class="s0">GEF</td>
        <td class="s0">1B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Vicenç</td>
        <td class="s0">Palmero Arans</td>
        <td class="s0">GRELEC</td>
        <td class="s0">4B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Júlia</td>
        <td class="s0">Roca Humanes</td>
        <td class="s0">GRETST</td>
        <td class="s0">1B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Javier</td>
        <td class="s0 softmerge">
          <div class="softmerge-inner" style="width: 97px; left: -1px">
            Rodríguez Calderón
          </div>
        </td>
        <td class="s0">GRETST</td>
        <td class="s0">1B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Valeria</td>
        <td class="s0">Römer</td>
        <td class="s0">GRELEC</td>
        <td class="s0">2B</td>
        <td class="s3">30</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Daniela</td>
        <td class="s0 softmerge">
          <div class="softmerge-inner" style="width: 97px; left: -1px">
            Roncancio Gonzalez
          </div>
        </td>
        <td class="s0">GRETST</td>
        <td class="s0">2B</td>
        <td class="s3">20</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Eric</td>
        <td class="s0">Ros Vendrell</td>
        <td class="s0">GRETST</td>
        <td class="s0">3A</td>
        <td class="s3">30</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Alejandro</td>
        <td class="s0">Ruiz Escudero</td>
        <td class="s0">GRELEC</td>
        <td class="s0">2B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Claudia</td>
        <td class="s0">Ruiz Mas</td>
        <td class="s0">GRETST</td>
        <td class="s0">2A, 2B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Albert</td>
        <td class="s0">Sumalla Reñé</td>
        <td class="s0">GRELEC</td>
        <td class="s0">2B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Jan</td>
        <td class="s0 softmerge">
          <div class="softmerge-inner" style="width: 97px; left: -1px">
            Talamàs Cusidó
          </div>
        </td>
        <td class="s0">GRETST</td>
        <td class="s0">2A, 2B</td>
        <td class="s3">10</td>
      </tr>
      <tr style="height: 20px">
        <td class="s0">Esteve</td>
        <td class="s0">Torrens Segret</td>
        <td class="s0">GRETST</td>
        <td class="s0">2A, 2B</td>
        <td class="s3">30</td>
      </tr>
    </tbody>
  </table>
</div>

