<div class="contenidor-membres contenidor-sots">
	<div class="membre">
		<div class="retrat">
			<img src="{{ .Site.BaseURL }}/images/membres/membre-sumalla.jpg" class="foto-retrat" link="">
		</div>
		<div class="nom">
			<b>Albert Sumalla</b>
		</div>
	</div>
	<div class="membre">
		<div class="retrat">
		<a href="{{ .Site.BaseURL }}/comunicacions">
			<img src="{{ .Site.BaseURL }}/images/membres/membre-claudia.jpg" class="foto-retrat" link="">
		</div>
		<div class="nom">
			<b>Claudia Ruiz</b>
			<br>
			<i>Comunicacions</i></a>
		</div>
	</div>
	<div class="membre">
		<div class="retrat">
		<a href="{{ .Site.BaseURL }}/webmaster">
			<img src="{{ .Site.BaseURL }}/images/membres/membre-arnau.jpg" class="foto-retrat" link="">
		</div>
		<div class="nom">
			<b>Arnau Bayer</b><br>
			<i>Web</i></a>
		</div>
	</div>
	<div class="membre">
		<div class="retrat">
			<img src="{{ .Site.BaseURL }}/images/membres/membre-marca.jpg" class="foto-retrat" link="">
		</div>
		<div class="nom">
			<b>Marc Armengué</b>
		</div>
	</div>
</div>
<div class="contenidor-membres contenidor-sots">
	<div class="membre">
		<div class="retrat">
			<img src="{{ .Site.BaseURL }}/images/membres/membre-march.jpg" class="foto-retrat" link="">
		</div>
		<div class="nom">
			<b>Marc Herrera</b>
		</div>
	</div>
	<div class="membre">
		<div class="retrat">
			<img src="{{ .Site.BaseURL }}/images/membres/membre-laurar.jpg" class="foto-retrat" link="">
		</div>
		<div class="nom">
			<b>Laura del Río</b>
		</div>
	</div>
	<div class="membre">
		<div class="retrat">
			<img src="{{ .Site.BaseURL }}/images/membres/membre-moha.jpg" class="foto-retrat" link="">
		</div>
		<div class="nom">
			<b>Mohamed Guennoun</b>
		</div>
	</div>
	<div class="membre">
		<div class="retrat">
			<img src="{{ .Site.BaseURL }}/images/membres/membre-aniol.jpg" class="foto-retrat" link="">
		</div>
		<div class="nom">
			<b>Aniol Martí</b>
		</div>
	</div>
	
</div>
