<div class="mb3 pa4 {{ $.Param "text_color" | default "mid-gray" }} overflow-hidden">
  {{ if .Date }}
  <div class="f6">
    {{ .Date.Format (default "January 2, 2006" .Site.Params.date_format) }}
  </div>
  {{ end }}
  <h1 class="f3 near-black">
    <a href="{{ .RelPermalink }}" class="link black dim">
      {{ .Title }}
    </a>
  </h1>
  <div class="nested-links f5 lh-copy nested-copy-line-height">
    {{ .Summary  }}
  </div>
</div>
